<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataMock.DataTests.Properties.Settings.DataMockConnectionString"
            connectionString="Data Source=johna_ut7t.cudev.cu.net;Initial Catalog=DataMock;User ID=sa;Password=unlimited"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>