<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataMock.DataTests.Properties.Settings.DataMockConnectionString2"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\DataMock.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DataMock.DataTests.Properties.Settings.DataMockConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=DataMock;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>